body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: medium;
}
div#form {
    position: absolute;
    margin: 10px;
}
input[type=text], button {
    border: 1px solid rgb(242, 233, 225);
    border-radius: 5px;
    padding: 5px;
}
input[type=range] {
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid rgb(242, 233, 225);
    width: 300px;
    height: 5px;
}
button { background-color: pink; }
input[type=text]:hover, button:hover,
input[type=text]:focus, button:focus {
    border-color: rgb(252, 112, 121);
    outline: none;
}
div#container { padding: 60px 80px 0px 0px; }
div#container svg {
    display: inline-block;
    margin: 0 auto;
}
.axis path, .axis line {
    fill: none;
    stroke: #666;
}
path.line, circle.line {
    fill: none;
    stroke-width: 1.5px;
}
.axis.y path { display: none; }
path.line.uv { stroke: rgb(252, 112, 121); }
.axis.y.uv text { fill: rgb(252, 112, 121); }
path.line.hum { stroke: rgb(123, 184, 254); }
.axis.y.hum text { fill: rgb(123, 184, 254); }
path.line.temp { stroke: rgb(203, 232, 107); }
.axis.y.temp text { fill: rgb(203, 232, 107); }

path.line.date-line {
    stroke: rgb(225, 225, 225);
    stroke-width: 1.0px;
}
circle.line.outer, circle.line.inner {
    stroke: rgb(201, 201, 201);
    stroke-width: 1.0px;
}
