<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UV Meals</title>
        
        <!-- Stylesheets -->
        <% include layoutStyles %>
        <link rel="stylesheet" type="text/css" href="/css/index.css">
    </head>
    <body>
        <% include layoutRibbon %>
        <% include layoutNavbar %>

        <div class="container">
            <header>
                <h1>紫光七日餐</h1>
            </header>

            <section>
                <iframe src="//player.vimeo.com/video/74051402?title=0&amp;byline=0&amp;portrait=0&amp;color=ff0179" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <p>紫光七日餐是一個結合裝置、視覺、表演以及行動藝術的互動作品。<br> 作品將每天每小時收集「對人體有害的紫外線指數」轉化為烤箱啟動時間長度，定時收集資料代表一種能量累積的過程，藉由啟動烤箱烤土司的方式釋放每日累積的有害紫外線能量。<br> 我們將這些受到有害能量烘烤過的土司吃下去，並將連續七天過程記錄成行動藝術記錄影片。</p>
                <p> 紫外線充斥在我們的生活當中。<br> 根據世界衛生組織(WHO)的標準，當指外線指數大於3(行政院環境環保署分級為中量級以上)時，暴露於陽光中就會有受到傷害的風險。</p>
                <p> 我們將這些有害的指數累積起來，轉化成烤箱啟動的能量烘烤土司，企圖呈現出人們每日接受有害光照射所會產生的情況，並吃下有害的紫外光，接受這生活中不舒適的能量。</p>
            </section>
        </div>

        <% include layoutFooter %>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include layoutScripts %>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
