<footer>
    Copyright &copy; 2013 |
    <a rel="external" target="_blank" href="#">Chau Hao Yang</a>,
    <a rel="external" target="_blank" href="#">Daniel Y.C. Kao</a>,
    <a rel="external" target="_blank" href="#">Ke-Ting Huang</a>,
    <a rel="external" target="_blank" href="http://github.com/telgniw">Yi Huang</a>
</footer>
