<nav class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">Heater</a>
            <ul class="nav">
                <li id="navbar-home"><a href="/">Home</a></li>
                <li id="navbar-data"><a href="/data">Data</a></li>
                <li id="navbar-vis"><a href="/vis">Visualization</a></li>
                <li class="divider-vertical"></li>
                <li id="navbar-api"><a href="/api">API</a></li>
            </ul>
        </div>
    </div>
</nav>
