<nav class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="#" class="brand">Heater</a>
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">API</a></li>
            </ul>
        </div>
    </div>
</nav>
