<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Heater</title>

        <!-- Stylesheets -->
        <% include layoutStyles %>
    </head>
    <body>
        <div id="magic" class="chart"></div>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include layoutScripts %>
        <script type="text/javascript" src="/heater/js/magic.js"></script>
        <script type="text/javascript">
        var svg, magic_l, magic_r;
        var init = function() {
            svg = d3.select('#magic')
                .append('svg')
                .attr('width', 1280)
                .attr('height', 768);

            svg.append('g')
                .attr('class', 'magic left')
                .attr('transform', 'translate(64,128)');

            svg.append('path')
                .attr('d', makeLine([
                    { x: 640, y: 128 },
                    { x: 640, y: 768 },
                ]))
                .style('fill', 'none')
                .style('stroke', makeRgb(COLOR.NORMAL))
                .style('stroke-width', 4);

            svg.append('g')
                .attr('class', 'magic right')
                .attr('transform', 'translate(704,128)');

            magic_l = magicCircle('.magic.left', POSITION.LEFT);
            magic_r = magicCircle('.magic.right', POSITION.RIGHT);
        };
        var clearLabel = function(position) {
            var clz = (position == POSITION.LEFT)? 'left' : 'right';
            svg.select('g.label.' + clz)
                .transition()
                .duration(1000)
                .style('opacity', 0)
                .remove();
        };
        var drawLabel = function(text_l, text_r) {
            svg.select('g.label').remove();

            var draw = function(g, text, x, y) {
                for(var i = 0; i < text.length; i++) {
                    var word = text[i];
                    g.append('text')
                        .attr('x', x)
                        .attr('y', y + (i + 1) * 36)
                        .style('fill', makeRgb(COLOR.NORMAL))
                        .style('font-family', '"Apple Gothic", "SimHei", monospace')
                        .style('font-size', 36)
                        .style('font-weight', 200)
                        .text(word);
                }
            };

            var g_l = svg.append('g')
                .attr('class', 'label left');
            draw(g_l, text_l, 592, 128);

            var g_r = svg.append('g')
                .attr('class', 'label right');
            draw(g_r, text_r, 652, 128);
        };
        var start = function(today, place_l, place_r) {
            magic_l.draw(today, place_l);
            magic_l.startAnimation();

            magic_r.draw(today, place_r);
            magic_r.startAnimation();

            drawLabel(place_l, place_r);
        };
        var stop = function(position) {
            clearLabel(position);

            if(position == POSITION.LEFT) {
                magic_l.stopAnimation();
                magic_l.clear();
            }
            else {
                magic_r.stopAnimation();
                magic_r.clear();
            }
        };
        $(function() {
            init();
        });
        </script>
    </body>
</html>

