<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Heater</title>

        <!-- Stylesheets -->
        <% include layoutStyles %>
        <link rel="stylesheet" type="text/css" href="/heater/css/magic.css">
    </head>
    <body>
        <script type="text/javascript">
            var place = '<%= location %>';
            var today = '<%= date %>';
            var direction = '<%= dir %>';
        </script>
        <div id="magic" class="chart"></div>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include layoutScripts %>
        <script type="text/javascript" src="/heater/js/magic.js"></script>
    </body>
</html>

