.navbar-form .input-append {
    margin-bottom: 0px;
}

svg {
    margin: 20px 0px;
}
.axis path, .axis line {
    fill: none;
    stroke: #cccccc;
}
path.line {
    fill: none;
    stroke: #ee88aa;
    stroke-width: 3;
}
