div {
    position: fixed;

    width: 1024px;
    height: 768px;
}
div#toast {
    background-image: url('/heater/img/toast.jpg');
    background-repeat: no-repeat;
    background-position: center center;
}
