.line {
    fill: none;
    stroke: rgb(158, 31, 98);
    stroke-width: 1.5px;
}
.line.star {
    stroke-width: 3px;
}
.line.place {
    fill: white;
    stroke-width: 3px;
}
.line.uv {
    fill: rgb(158, 31, 98);
    stroke-width: 0px;
}
.label {
    font-family: '蘋果儷中黑', '微軟正黑體', 'SimHei', monospace;
    font-size: 36px;
    font-weight: bold;
    fill: rgb(158, 31, 98);
}
.label.place {
    font-size: 30px;
}
.label.select-place {
    font-size: 60px;
}
