@import url(http://fonts.googleapis.com/css?family=Poiret+One);

.navbar {
    border-bottom: 1px solid rgb(215, 215, 215);
}
.navbar .brand {
    color: rgb(179, 81, 126);
    font-family: 'Poiret One';
    font-size: 28px;
}

footer {
    color: rgb(128, 128, 128);
    font-size: 12px;
    text-align: center;
}
footer a {
    color: rgb(230, 159, 163);
}
footer a:hover {
    color: rgb(179, 81, 126);
}
