<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Heater</title>

        <!-- Stylesheets -->
        <% include ../layoutStyles %>
        <link rel="stylesheet" type="text/css" href="/css/api/magic.css">
    </head>
    <body>
        <div id="standby"></div>
        <div id="magic"></div><!--style="border: 1px solid pink;"></div-->

        <!-- Dummy divs to force loading of toast images. -->
        <div id="toast-00" class="dummy"></div>
        <div id="toast-01" class="dummy"></div>
        <div id="toast-02" class="dummy"></div>
        <div id="toast-03" class="dummy"></div>
        <div id="toast-04" class="dummy"></div>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include ../layoutScripts %>
        <script type="text/javascript" src="/js/api/magic.js"></script>
        <script type="text/javascript">
        var svg, magic_l, magic_r;
        var init = function() {
            svg = d3.select('#magic')
                .append('svg')
                .attr('width', 1024)
                .attr('height', 768)
                .style('opacity', OPACITY.OFF);

            svg.append('g')
                .attr('class', 'magic left')
                .attr('transform', 'translate(0,128)');

            svg.append('path')
                .attr('class', 'bar')
                .attr('d', makeLine([
                    { x: 512, y: 128 },
                    { x: 512, y: 768 },
                ]))
                .style('fill', 'none')
                .style('stroke', makeRgb(COLOR.NORMAL))
                .style('stroke-width', 4);

            svg.append('g')
                .attr('class', 'magic right')
                .attr('transform', 'translate(512,128)');

            magic_l = magicCircle('.magic.left', POSITION.LEFT);
            magic_r = magicCircle('.magic.right', POSITION.RIGHT);
        };
        var clearLabel = function(position) {
            var clz = (position == POSITION.LEFT)? 'left' : 'right';
            svg.select('g.label.' + clz)
                .transition()
                .duration(1000)
                .style('opacity', 0)
                .remove();
        };
        var drawLabel = function(text_l, text_r) {
            svg.select('g.label').remove();

            var draw = function(g, text, x, y) {
                for(var i = 0; i < text.length; i++) {
                    var word = text[i];
                    g.append('text')
                        .attr('x', x)
                        .attr('y', y + (i + 1) * 36)
                        .style('fill', makeRgb(COLOR.NORMAL))
                        .style('font-family', '"Apple Gothic", "SimHei", monospace')
                        .style('font-size', 36)
                        .style('font-weight', 200)
                        .text(word);
                }
            };

            var g_l = svg.append('g')
                .attr('class', 'label left');
            draw(g_l, text_l, 464, 128);

            var g_r = svg.append('g')
                .attr('class', 'label right');
            draw(g_r, text_r, 524, 128);
        };
        var start = function(today, place_l, place_r, time_l, time_r) {
            d3.select('#standby')
                .transition()
                .duration(2000)
                .style('opacity', OPACITY.OFF);

            svg.select('path.bar')
                .transition()
                .duration(1000)
                .style('opacity', OPACITY.ON);

            svg
                .transition()
                .delay(1000)
                .duration(1000)
                .style('opacity', OPACITY.ON);

            magic_l.draw(today, place_l, time_l);
            magic_l.startAnimation();

            magic_r.draw(today, place_r, time_r);
            magic_r.startAnimation();

            drawLabel(place_l, place_r);
        };
        var stop = function(position) {
            clearLabel(position);

            if(position == POSITION.LEFT) {
                magic_l.stopAnimation();
            }
            else {
                magic_r.stopAnimation();
            }

            if((!magic_l.isAnimated()) && (!magic_r.isAnimated())) {
                magic_l.hide();
                magic_r.hide();

                svg.select('path.bar')
                    .transition()
                    .duration(1000)
                    .style('opacity', OPACITY.OFF);

                svg
                    .transition()
                    .delay(15000)
                    .duration(1000)
                    .style('opacity', OPACITY.OFF);

                d3.select('#standby')
                    .transition()
                    .delay(16000)
                    .duration(1000)
                    .style('opacity', OPACITY.ON);
            }
        };
        $(function() {
            init();
            /*
            setTimeout(function(){ start('2013-10-11', '塔塔加', '屏東', 540, 270); }, 3000);
            setTimeout(function(){ stop(POSITION.RIGHT); }, 12000);
            setTimeout(function(){ stop(POSITION.LEFT); }, 18000);
            */
        });
        </script>
    </body>
</html>

