<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Heater</title>

        <!-- Stylesheets -->
        <% include ../layoutStyles %>
        <link rel="stylesheet" type="text/css" href="/css/api/magic.css">
    </head>
    <body>
        <div id="toast"></div>
        <div id="magic">
            <div class="toast left"></div>
            <div class="toast right"></div>
        </div>

        <!-- Dummy divs to force loading of toast images. -->
        <div id="toast-01" class="dummy"></div>
        <div id="toast-02" class="dummy"></div>
        <div id="toast-03" class="dummy"></div>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include ../layoutScripts %>
        <script type="text/javascript" src="/js/api/magic.js"></script>
        <script type="text/javascript">
        var isToastHidden = {
            left: true,
            right: true,
        };
        var toastTime = {
            left: 0,
            right: 0,
        };
        var toastUrl = function(duration) {
            var base_url = '/img/toasts/';
            if(duration > 500)
                return base_url + '03.png';
            else if(duration > 250) 
                return base_url + '02.png';
            else
                return base_url + '01.png';
        };
        var hideToast = function() {
            if(!isToastHidden.left) {
                isToastHidden.left = true;

                d3.select('.toast.left')
                    .transition()
                    .delay(1000)
                    .duration(1000)
                    .style('opacity', 0)
                    .transition()
                    .duration(0)
                    .style('opacity', 1)
                    .style('top', '768px');
            }

            if(!isToastHidden.right) {
                isToastHidden.right = true;

                d3.select('.toast.right')
                    .transition()
                    .delay(1000)
                    .duration(1000)
                    .style('opacity', 0)
                    .transition()
                    .duration(0)
                    .style('opacity', 1)
                    .style('top', '768px');
            }
        };

        var svg, magic_l, magic_r;
        var init = function() {
            svg = d3.select('#magic')
                .append('svg')
                .attr('width', 1024)
                .attr('height', 768)
                .style('opacity', OPACITY.OFF);

            svg.append('g')
                .attr('class', 'magic left')
                .attr('transform', 'translate(0,128)');

            svg.append('path')
                .attr('d', makeLine([
                    { x: 512, y: 128 },
                    { x: 512, y: 768 },
                ]))
                .style('fill', 'none')
                .style('stroke', makeRgb(COLOR.NORMAL))
                .style('stroke-width', 4);

            svg.append('g')
                .attr('class', 'magic right')
                .attr('transform', 'translate(512,128)');

            magic_l = magicCircle('.magic.left', POSITION.LEFT);
            magic_r = magicCircle('.magic.right', POSITION.RIGHT);
        };
        var clearLabel = function(position) {
            var clz = (position == POSITION.LEFT)? 'left' : 'right';
            svg.select('g.label.' + clz)
                .transition()
                .duration(1000)
                .style('opacity', 0)
                .remove();
        };
        var drawLabel = function(text_l, text_r) {
            svg.select('g.label').remove();

            var draw = function(g, text, x, y) {
                for(var i = 0; i < text.length; i++) {
                    var word = text[i];
                    g.append('text')
                        .attr('x', x)
                        .attr('y', y + (i + 1) * 36)
                        .style('fill', makeRgb(COLOR.NORMAL))
                        .style('font-family', '"Apple Gothic", "SimHei", monospace')
                        .style('font-size', 36)
                        .style('font-weight', 200)
                        .text(word);
                }
            };

            var g_l = svg.append('g')
                .attr('class', 'label left');
            draw(g_l, text_l, 464, 128);

            var g_r = svg.append('g')
                .attr('class', 'label right');
            draw(g_r, text_r, 524, 128);
        };
        var start = function(today, place_l, place_r, time_l, time_r) {
            toastTime.left = time_l;
            toastTime.right = time_r;

            hideToast();

            d3.select('#toast')
                .transition()
                .duration(2000)
                .style('opacity', OPACITY.OFF);

            svg
                .transition()
                .delay(1000)
                .duration(1000)
                .style('opacity', OPACITY.ON);

            magic_l.draw(today, place_l);
            magic_l.startAnimation();

            magic_r.draw(today, place_r);
            magic_r.startAnimation();

            drawLabel(place_l, place_r);
        };
        var stop = function(position) {
            if(position == POSITION.LEFT) {
                isToastHidden.left = false;

                d3.select('.toast.left')
                    .style('background-image', 'url(' + toastUrl(toastTime.left) + ')')
                    .transition()
                    .ease('elastic')
                    .duration(2000)
                    .style('top', '128px');

                magic_l.stopAnimation();
                magic_l.clear();
            }
            else {
                isToastHidden.right = false;

                d3.select('.toast.right')
                    .style('background-image', 'url(' + toastUrl(toastTime.right) + ')')
                    .transition()
                    .ease('elastic')
                    .duration(2000)
                    .style('top', '128px');

                magic_r.stopAnimation();
                magic_r.clear();
            }

            setTimeout(function() {
                if((!magic_l.isAnimated()) && (!magic_r.isAnimated())) {
                    clearLabel(POSITION.LEFT);
                    clearLabel(POSITION.RIGHT);

                    svg
                        .transition()
                        .duration(1000)
                        .style('opacity', OPACITY.OFF);
                    
                    hideToast();

                    d3.select('#toast')
                        .transition()
                        .delay(3000)
                        .duration(1000)
                        .style('opacity', OPACITY.ON);
                }
            }, 10000);
        };
        $(function() {
            init();
            /*
            setTimeout(function(){ start('2013-10-11', '臺北', '高雄'); }, 3000);
            setTimeout(function(){ stop(POSITION.LEFT); }, 8000);
            setTimeout(function(){ stop(POSITION.RIGHT); }, 9000);
            setTimeout(function(){ start('2013-10-11', '塔塔加', '玉山'); }, 14000);
            setTimeout(function(){ stop(POSITION.RIGHT); }, 18000);
            setTimeout(function(){ stop(POSITION.LEFT); }, 23000);
            */
        });
        </script>
    </body>
</html>

