<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Heater</title>
        
        <!-- Stylesheets -->
        <% include ../layoutStyles %>
        <link rel="stylesheet" type="text/css" href="/heater/css/vis/line.css">
    </head>
    <body>
        <% include ../layoutNavbar %>

        <div class="container">
            <div class="row-fluid">
                <% for(var i = 0; i < 2; i++) { %>
                <div class="span6">
                    <div class="dropdown">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                            地點
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown dropdown-submenu">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    其他
                                </a>
                                <ul class="dropdown-menu">
                                <% for(var j = 15; j < locations.length; j++) { %>
                                    <li class="menu-item"><a href="#"><%= locations[j] %></a></li>
                                <% } %>
                                </ul>
                            </li>
                            <li class="divider"></li>
                            <% for(var j = 0; j < 15 && j < locations.length; j++) { %>
                                <li class="menu-item"><a href="#"><%= locations[j] %></a></li>
                            <% } %>
                        </ul>
                    </div>
                    <div class="chart">
                    </div>
                </div>
                <% } %>
            </div>
        </div>

        <!-- Scripts: placed at the end of the document so that the pages loads faster. -->
        <% include ../layoutScripts %>
        <script type="text/javascript" src="/heater/js/vis/line.js"></script>
    </body>
</html>
